


<div class='container'>
  <div class='well'>

    <div>
      <h3><span>Client:</span> <%= @post.user.full_name %></h3>
    </div>
    <div>
      <h3><span>Requisite:</span> <%= @post.title %></h3>
    </div>
    <div>
      <h3><span>Date Received:</span> <%= @post.date %></h3>
    </div>
    <div>
      <h3><span>Estimated Expiration:</span> <%= @post.expiration %></h3>
    </div>

    <div>
      <h3><span>Current Stage of Approval:</span> <%= @post.status %></h3>
    </div>
  </div>

  <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary' if policy(@post).update? %>
</div>